@use "../abstracts/variables";

.ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px 15px;
  border-radius: 50px;
  background: var(--ui-yellow);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
  color: #000;

  .arrow {
    width: 32px;
    margin-right: 5px;
    transition: all 0.1s linear;
  }

  .arrow svg * {
    fill: #000;
  }

  &--white {
    background: #fff;
  }

  &--black {
    background: #000;
    color: #fff;

    .arrow svg * {
      fill: #fff;
    }
  }

  @media only screen and (min-width: variables.$lg) {
    padding: 15px 25px;
    font-size: 15px;
    line-height: 24px;
  }

  @media only screen and (min-width: variables.$xl) {
    &:hover {
      background: #ffc329;

      .arrow {
        margin-right: 15px;
      }
    }
  }

  &:active {
    background: #ffc329;
    box-shadow: none;
  }
}

.ui-button--white {
  @media only screen and (min-width: variables.$xl) {
    &:hover {
      background: var(--ui-yellow);
    }
  }

  &:active {
    background: #ffc329;
    box-shadow: none;
  }
}

.ui-button--black {
  @media only screen and (min-width: variables.$xl) {
    &:hover {
      background: #1b1b1b;
      color: var(--ui-yellow);

      .arrow * {
        fill: var(--ui-yellow);
      }
    }
  }

  &:active {
    background: #1b1b1b;
    color: var(--ui-yellow);
    box-shadow: none;

    .arrow * {
      fill: var(--ui-yellow);
    }
  }
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  @media only screen and (min-width: variables.$xl) {
    &:hover {
      border-color: var(--ui-yellow);
      color: var(--ui-yellow);

      .icon {
        * {
          stroke: var(--ui-yellow);
        }
      }
    }
  }
}
