@use "../abstracts/variables";

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 60px;

  @media only screen and (min-width: variables.$xl) {
    grid-template-columns: 1fr 1fr;
  }

  .product-list__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    color: #fff;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    @media only screen and (min-width: variables.$sm) {
      flex-direction: row;
    }

    @media only screen and (min-width: variables.$md) {
      padding: 20px 20px 20px 20px;

      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }

    @media only screen and (min-width: variables.$lg) {
      &:hover {
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
        color: var(--ui-yellow);

        .product-link .icon {
          margin-right: 20px;
        }
      }
    }

    &:active {
      color: #ffc329;

      .product-link {
        color: #ffc329;
      }

      .product-link svg * {
        fill: #ffc329;
      }
    }
  }

  .product-image {
    width: 100%;
    margin: 0 auto 10px;
    border-radius: 15px;
    overflow: hidden;

    @media only screen and (min-width: variables.$sm) {
      margin: 0 20px 0 0;
    }

    @media only screen and (min-width: variables.$lg) {
      flex-basis: 285px;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  img {
    width: 100%;
    border-radius: 15px;
  }

  .product-info {
    @media only screen and (min-width: variables.$sm) {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .product-title {
    margin-bottom: 10px;
    font-weight: 20px;
    font-weight: 900;
    line-height: 24px;

    @media only screen and (min-width: variables.$xl) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .product-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    @media only screen and (min-width: variables.$xl) {
      font-size: 18px;
      line-height: 32px;
    }
  }

  .product-link {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--ui-yellow);

    .icon {
      transition: margin 0.1s linear;
    }

    svg * {
      fill: var(--ui-yellow);
    }

    @media only screen and (min-width: variables.$xl) {
      margin-top: auto;
      font-size: 14px;
      line-height: 32px;
    }
  }
}
