@use "../abstracts/variables";

.main-slider {
  padding-bottom: 15px;

  .swiper-slide {
    transform: scale(0.95);
    transition: transform 0.3s ease;

    @media only screen and (min-width: variables.$xl) {
      transform: scale(0.98);
    }
  }

  .swiper-slide-active {
    transform: scale(1);
  }

  .pagination-wrapper {
    --max-width-sm: 540px;
    --max-width-md: 720px;
    --max-width-lg: 960px;
    --max-width-xl: 1200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: none;
    width: calc(100% - 30px);
    padding-right: 102px;
    transform: translateX(-50%);
    z-index: 5;

    @media only screen and (min-width: variables.$sm) {
      max-width: var(--max-width-sm);
    }

    @media only screen and (min-width: variables.$md) {
      max-width: var(--max-width-md);
    }

    @media only screen and (min-width: variables.$lg) {
      display: flex;
      max-width: var(--max-width-lg);
    }

    @media only screen and (min-width: variables.$xl) {
      max-width: var(--max-width-xl);
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    width: max-content;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    color: #000;

    &-bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: #fff;
      cursor: pointer;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;

      &:hover {
        background-color: var(--ui-yellow);
      }

      &:active {
        background-color: #ffc329;
      }

      &:not(:last-of-type) {
        border-right: 1px solid #efefef;
      }
    }

    &-bullet-active {
      pointer-events: none;
      color: #bfbfbf;
    }
  }

  .ui-button {
    display: none;
  }

  @media only screen and (min-width: variables.$lg) {
    padding-bottom: 65px;

    .ui-button {
      display: flex;
    }
  }
}

.main-slide {
  --max-width-sm: 540px;
  --max-width-md: 720px;
  --max-width-lg: 960px;
  --max-width-xl: 1200px;
  position: relative;
  width: calc(100% - 30px);
  height: auto;
  background: var(--ui-black);
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

  .layer-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  @media only screen and (min-width: variables.$sm) {
    max-width: var(--max-width-sm);
  }

  @media only screen and (min-width: variables.$md) {
    max-width: var(--max-width-md);
  }

  @media only screen and (min-width: variables.$lg) {
    max-width: var(--max-width-lg);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

    .layer-link {
      display: none;
    }
  }

  @media only screen and (min-width: variables.$xl) {
    max-width: var(--max-width-xl);
  }
}

.slide-bg {
  img {
    width: 100%;
    vertical-align: middle;
  }
}

.slide-content {
  padding: 20px 15px 25px;

  @media only screen and (min-width: variables.$lg) {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    width: 400px;

    &--dark {
      color: #000;
    }
  }

  @media only screen and (min-width: variables.$xl) {
    width: 488px;
  }
}

.slide-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
  opacity: 0.9;

  @media only screen and (min-width: variables.$lg) {
    opacity: 1;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
  }

  @media only screen and (min-width: variables.$xl) {
    font-size: 60px;
    line-height: 60px;
  }
}

.slide-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.8;

  @media only screen and (min-width: variables.$lg) {
    opacity: 1;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.slider-next,
.slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--ui-yellow);
  cursor: pointer;
  z-index: 2;

  img {
    max-width: 100%;
    user-select: none;
  }
  @media only screen and (min-width: variables.$xl) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.slider-prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.slider-next {
  right: 0;
}

.arrow-filled {
  border: none;
  background-color: var(--ui-yellow);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.about-slider {
  max-width: 944px;
  margin: 0 auto;

  .about-slide {
    text-align: center;
    padding-bottom: 60px;

    img {
      display: block;
      width: 100%;
      border-radius: 15px;

      @media only screen and (min-width: variables.$lg) {
        width: calc(100% - 75px);
        filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
        margin: 0 auto;
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 2;
  }

  .swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(var(--ui-yellow), 0);
    box-shadow: inset 0 0 0 2px var(--ui-yellow);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &-active {
      box-shadow: inset 0 0 0 10px var(--ui-yellow);
    }
  }

  .slider-prev,
  .slider-next {
    top: calc(50% - 60px);
    transform: translateY(calc(-50% + 60px));
  }

  .slider-prev {
    left: 16px;
    transform: translateY(calc(-50% + 60px)) rotate(180deg);

    @media only screen and (min-width: variables.$lg) {
      left: 53px;
    }
  }

  .slider-next {
    right: 16px;

    @media only screen and (min-width: variables.$lg) {
      right: 53px;
    }
  }
}

.product-preview {
  margin-bottom: 20px;

  .product-image {
    img {
      border-radius: 15px;
    }
  }
}

.thumbnails-container {
  display: grid;
  align-items: center;
  column-gap: 10px;

  .slider-prev,
  .slider-next {
    display: none;
    position: static;
    transform: none;
    width: 30px;
    height: 30px;

    img {
      max-width: 60%;
    }
  }

  .slider-prev {
    grid-area: prev;
    transform: rotate(180deg);
  }

  .slider-next {
    grid-area: next;
  }

  @media only screen and (min-width: variables.$lg) {
    padding-left: 12px;
    padding-right: 28px;
    grid-template-areas: "slider";

    .slider-prev,
    .slider-next {
      width: 40px;
      height: 40px;

      img {
        max-width: 100%;
      }
    }
  }
}

.thumbnails-container--arrows {
  grid-template-areas: "prev slider next";

  .slider-prev,
  .slider-next {
    display: flex;
  }

  @media only screen and (min-width: variables.$lg) {
    padding-right: 28px;
  }
}

.thumbnails-slider {
  width: 100%;
  grid-area: slider;

  .thumbnail {
    display: flex;
    align-items: center;
    width: 82px;
    cursor: pointer;
    transition: opacity 0.1s ease;
  }

  .swiper-slide-thumb-active {
    opacity: 0.5;
  }
}
