@forward "../components/form";

@use "../abstracts/variables";

.forms-page {
  padding: 44px 0 60px;

  @media only screen and (min-width: variables.$lg) {
    padding: 44px 72px 120px;

    .title-block,
    .form-wrapper {
      padding: 0 30px;
    }
  }

  .title-block {
    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 0;
  }

  .page-subtitle {
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}

.payform {
  .form-product {
    display: grid;
    grid-template-areas:
      "form-thumb form-name"
      "form-method form-method"
      "form-amount form-amount";
    gap: 20px;
    align-items: center;
    position: relative;
    padding: 30px;
    margin-bottom: 45px;
    background: var(--ui-yellow);
    border-radius: 15px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    color: #000;

    input {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      border-radius: 0;
      color: #000;
    }

    @media only screen and (min-width: variables.$lg) {
      grid-template-areas: "form-thumb form-name form-method form-amount";
    }
  }

  .form-thumb {
    grid-area: form-thumb;
    line-height: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
    }
  }

  .form-name {
    grid-area: form-name;
    font-weight: 900;
    font-size: 14px;
    line-height: 120%;

    @media only screen and (min-width: variables.$lg) {
      font-size: 20px;
    }
  }

  .form-method {
    grid-area: form-method;
    width: auto;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }

  .form-amount {
    display: flex;
    align-items: start;
    grid-area: form-amount;

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 95px;
    }

    input {
      width: 48px;
      margin: 0 5px;
      text-align: center;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
    }

    .control-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;

      &:disabled {
        pointer-events: none;
        opacity: 0.25;
      }
    }
  }

  .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;

    @media only screen and (min-width: variables.$lg) {
      top: 30px;
      right: 30px;
    }
  }
}
