@use "../abstracts/mixins";
@use "../abstracts/variables";

.branches {
  padding: 40px 0 50px;

  @media only screen and (min-width: variables.$lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 60px 0 100px;
  }
}

.branch-info {
  h2 {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  @media only screen and (min-width: variables.$lg) {
    h2 {
      padding-top: 0;
      margin-bottom: 30px;
    }
  }
}

.branch-list {
  @include mixins.list-reset;

  li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 133%;

    &::before {
      content: "";
      display: block;
      flex-basis: 40px;
      flex-grow: 0;
      flex-shrink: 0;
      height: 3px;
      background: var(--ui-yellow);
      margin-right: 15px;
    }

    &:last-of-type {
      padding-bottom: 10px;
    }
  }

  @media only screen and (min-width: variables.$lg) {
    li {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
