@use "../abstracts/variables";

.presentation {
  padding: 15px;
  background: var(--ui-yellow);
  border-radius: 15px;
  color: #000;

  @media only screen and (min-width: variables.$lg) {
    display: flex;
    align-items: center;
    padding: 30px 45px;

    .ui-button {
      flex-basis: max-content;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.presentation-info {
  margin-bottom: 25px;

  h2 {
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  @media only screen and (min-width: variables.$lg) {
    margin: 0 24px 0 0;

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
