.presentation {
  padding: 15px;
  background: var(--ui-yellow);
  border-radius: 15px;
  color: #000;
}

.presentation-info {
  margin-bottom: 25px;

  h2 {
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}
